<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="HOME_LOG"
		value="C:/logs/ogive_services/ogive-services.log" />

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>C:/logs/ogive_services/ogive-services.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- each archived file, size max 10MB -->
			<maxFileSize>10MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread])
				%highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="FilLogger" level="debug" additivity="false">
		<appender-ref ref="FILE-ROLLING" />
	</logger>

	<logger name="consoleLogger" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>


	<root level="debug">
		<appender-ref ref="FILE-ROLLING" />
	</root>

</configuration>